//$font-family: 'Nunito', sans-serif;
$primary-color: #267d9c;
$primary-color-500: #267d9cd0;
$primary-color-200: #267d9c86;
$main-color: #e3a928;
$black-color: #2a2a2a;
$white-color: #ffffff;
$font-size: 15px;
$transition: .5s;